<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- <logger name="org.springframework.session" level="TRACE"/>
    <logger name="org.springframework.web" level="TRACE"/>
    <logger name="org.springframework.security.oauth2" level="TRACE"/> -->
</configuration>
